<div class="container main-wrapper">
  <!-- <h2 class="page-title">სავაჭრო დაწესებულებები</h2> -->

  <div class="add-card shadow-sm">
    <div class="input-group">
      <input #mName type="text" placeholder="დაამატე ახალი მაღაზია...">
      <button class="btn-add" (click)="onAdd(mName)">
        <span class="icon">+</span> მაღაზიის დამატება
      </button>
    </div>
  </div>

  <div class="table-container card shadow">
    @if (merchants$ | async; as list) {
    <table class="custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>მაღაზიები</th>
          <th>დამატების თარიღი</th>
          <th>ბოლო განახლება</th>
          <th class="text-end">მოქმედება</th>
        </tr>
      </thead>
      <tbody>
        @for (m of list; track m.id) {
        <tr class="budget-row">
          <td><span class="id-badge">#{{ m.id }}</span></td>
          <td><strong class="item-name text-light">{{ m.name }}</strong></td>

          <td>
            <div class="timestamps text-white">

              {{ m.createAt | date:'dd.MM.yyyy HH:mm' }}
            </div>
          </td>

          <td>
            <div class="timestamps">
              @if (m.updateAt && m.updateAt !== m.createAt) {
              <span class="text-white">

                {{ m.updateAt | date:'dd.MM.yyyy HH:mm' }}
              </span>
              } @else {
              <span class="text-muted" style="opacity: 0.5;">- არ განახლებულა -</span>
              }
            </div>
          </td>

          <td class="actions">
            <button class="btn-edit-icon" title="Edit" (click)="onEdit(m)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn-delete-icon" title="Delete" (click)="onDelete(m)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="no-data">მაღაზიები არ მოიძებნა.</td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <div class="loader">
      <div class="spinner"></div>
      <p>Loading data...</p>
    </div>
    }
  </div>

  <div class="modal-backdrop" *ngIf="isEditModalOpen" (click)="closeModal()">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>Edit Merchant</h3>
        <button class="close-x" (click)="closeModal()">✕</button>
      </div>

      <div class="field">
        <label>Merchant Name</label>
        <input #updatedMName type="text" [value]="selectedMerchant?.name" placeholder="Enter name">
      </div>

      <div class="modal-actions">
        <button class="btn-cancel" (click)="closeModal()">Cancel</button>
        <button class="btn-save" (click)="saveEdit(updatedMName.value)">Save</button>
      </div>
    </div>
  </div>
</div>